.boardSquare {
    width: 70px;
    height: 70px;
    border-style: solid;
    border-width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: transform,border;
    transition-timing-function: cubic-bezier(0,-0.14,0,.97);
    transition-duration: 1s; 

  }
  .boardSquare img {
    max-height: 80%;
    max-width: 80%;
  }
  
  [data-page="2"] {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  
  #boardSquares {
    display:flex;
    overflow: hidden;
  }
  .tableRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  
  .green {
    background-color: green;
  }
 
  .hide {
    display:none;

  }

 
td>img {
    pointer-events: none
  }
  td.boardSquare.active:hover{
    cursor:pointer;
  }

  .possibleMove{
    cursor:pointer;
  }
  .grey {
    border-style: double;
    opacity: 65%;
    background-color: gray;
    width: 30%;
    height:30%;
    pointer-events: none
  }

  
.promoting {
  position:absolute;
  background-color:rgb(252, 219, 32);
  height:fit-content;
  border-style: solid;
  border-color: rgb(60, 0, 156);
  margin-top: 140px;
  opacity:90%
}
.promoting img {
  margin:5px;
  height:70px;
  
}

td .active {
  cursor:pointer;
}

.attackChoice {
  flex-direction: column;
  margin-left: 140px;
  background-color: blue;
  margin-bottom: 30px;
  color: white;
  border: orange;
  border-style: solid;
  font-weight: bold;
  position: absolute;
}

.attackChoice p:hover {
  color:red;
}

.tableBorder {
  border-style: solid;
  border-width: 5px;
  border-radius: 5%;
  border-color: black;
}

.exploding {
  transform: scale(3);
  border-color: rgb(255, 2, 2);
  border-width: 10px;
  border-radius: 50%;
  background: orange;
  overflow:hidden;

}
.exploding img {
  display:none;
}

#homeimage img {
  max-height:200px;
  max-width: 200px;
}