.boardSquare {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .boardSquare img {
    max-height: 80%;
    max-width: 80%;
  }
  
  [data-page="2"] {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  
  #boardSquares {
    display:flex;
    border-style: solid;
    border-width: 5px;
    border-radius: 5%;
    border-color: black;
    overflow: hidden;
  }
  .tableRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  
  .green {
    background-color: green;
  }
 
  .hide {
    display:none;
  }

  .boardSquare img:hover{
    cursor:pointer;
  }