* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #eee;
}
header {
  background-color: #fff;
  box-shadow: 0px, 3px, 6px rgba(0, 0, 0, 0.1);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 142px;
  padding-right: 142px;
  max-height: fit-content;
}

header nav h1 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

header nav .tabs {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

header nav .tab {
  display: block;
}

header nav .tabs .tab a[data-switcher] {
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  color: #fff;
  background-color: royalblue;

  cursor: pointer;
}
header nav .tabs .tab.active a[data-switcher] {
  background-color: black;
  font-weight: 700;
  color: white;
}

header nav .tabs .tab:hover a[data-switcher] {
  background-color: orange;
}

main {
  padding-left: 142px;
  padding-right: 142px;
}

.pages {
  margin-top: 100px;
  padding: 50px 30px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  min-width: fit-content;
  min-height: fit-content;
  max-width: fit-content;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.pages .page {
  display: none;
}

.pages .page.active {
  display: block;
}

#homeimage {
  margin-top: 20px;
  display: flex;
  max-height: 200px;
}

#instructions p{
  margin-bottom: 100px;
  margin-top: 20px;
}




